/* Fontes auto-hospedadas.
   Cosen (títulos) — licenciada, arquivos cedidos pela marca.
   Plus Jakarta Sans (texto e interface) — Google Fonts, licença SIL
   Open Font License, livre para uso comercial. Sem itálico: o site
   trava qualquer itálico no corpo do texto (ver fontes-titulos.css),
   então não precisa dos arquivos itálicos.
   Alex Brush (palavra em destaque) — Google Fonts, licença SIL Open
   Font License, livre para uso comercial. */

@font-face {
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fontes/alex-brush.woff2) format('woff2');
}

@font-face {
  font-family: 'Cosen';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fontes/cosen-300.woff2) format('woff2');
}
@font-face {
  font-family: 'Cosen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fontes/cosen-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Cosen';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fontes/cosen-500.woff2) format('woff2');
}
@font-face {
  font-family: 'Cosen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fontes/cosen-700.woff2) format('woff2');
}
@font-face {
  font-family: 'Cosen';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(fontes/cosen-300-italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Cosen';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(fontes/cosen-400-italic.woff2) format('woff2');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fontes/jakarta-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fontes/jakarta-500.woff2) format('woff2');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fontes/jakarta-600.woff2) format('woff2');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fontes/jakarta-700.woff2) format('woff2');
}
